<!doctype html>

<body bgcolor="white">
<title>My search page!</title>
<style>
dd {
    width:100%
}
</style>
<div style="width:100%">
<h3 style="background-color:black;color:lightgrey"> Wikipedia Film Search </h3>

<h1>Wikipedia film search page</h1>


<form action="/results" name="search" method="post">
    <dl>
        <p><strong>Free text search:</strong></p>
        <dd><textarea rows="4" cols="100" name="query"></textarea>
        <dd><strong>Optional Fields</strong></dd>
        <dd>Director: <input type="text" style="width:300px" name="director"> Starring: <input type="text" style="width:300px" name="starring">
        <dd>Runtime (in mins): min <input type="text" name="mintime"> max <input type="text" name="maxtime">
        <dd>Language: <input type="text" style="width:300px" name="language"> Country: <input type="text" style="width:300px" name="country">
        <dd>Location: <input type="text" style="width:300px" name="location">
        <dd>Plot Year: from <input type="text" name="minplottime"> to <input type="text" name="maxplottime">
        <dd>Categories: <input type="text" style="width:300px" name="categories">
        <dd><input type="submit" value="Search">
    </dl>
</form>
</div>
</body>